* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#heading {
    background-color:  #C8553D;
    color:#FFFFFF;
    text-align: center;
    font-family: 'Tenor Sans', sans-serif;
    padding: 15px 30px;
    font-size: 30px;
}


body {
    background-color: #fdf2ed;    
    color: #50514f;
    font-family: 'Tenor Sans', sans-serif;
}

p {
    background-color: #fdf2ed;    
    color: #50514f;
    font-family: 'Tenor Sans', sans-serif;
    text-align: center;
}

#scoreDiv {
    margin: 60px auto;
    border: 3px solid #FFD5C2;
    border-radius: 10px;
    color: #FFFFFF;
    width: 150px;
    padding: 15px 20px;
    font-size: 30px;
    position: relative;

}

.scoreName {
    background-color: #588B8B;
    font-size: 15px;
    padding: 10px 10px;
}

#user {
    position: absolute;
    top: -25px;
    left: 25px;
}

#comp {
    position: absolute;
    top: 95px;
    right: 20px;
}
span {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: #50514f;
}

#userPoints  {
    display: flex;
    color: #50514f;
    text-align: center;
}

#compPoints {
    display: flex;
    color: #50514f;
    text-align: center;
}

.result {
    font-size: 25px;
    text-align: center;
    padding: 20px;
    font-weight: bold;
}

.selectors {
    display: flex;
    justify-content: center;
    align-content: space-between;
}

.button {
    display: flex;
    cursor: pointer;
    outline: none;
    margin: 50px;
    background:#ffccb4;
    border-radius: 12px;
    border: 2px solid #e79c79;
}


.select {
    display: flex;
    cursor: pointer;
    outline: none;
    background:#ffe8de;
    padding: 5px 30px;
    border: 2px solid #e79c79;
    border-radius: 12px;
    transform: translateY(-6px);
}

.button:active .select  {
    transform: translateY(-2px);
}

h2 {
    font-size: 35px;
    text-align: center;
    padding: 20px;
    font-weight: bold;
}